extends layout

block content
  h1= title
  p
  a(class='button' href='/api/v1/question') Question API
  p
  a(class='button' href='/api/v1/answer') Answer API
    p
  a(class='button' href='/api/v1/users') Users API
